/* Webfont: BoxedLight */@font-face {
    font-family: 'BoxedLight';
    src: url('BoxedLight.eot'); /* IE9 Compat Modes */
    src: url('BoxedLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BoxedLight.woff') format('woff'), /* Modern Browsers */
         url('BoxedLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BoxedLight.svg#BoxedLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

