$primary-color: black;
$primary-tint: #f1f1f2;
$accent-color: #c59d09;
$secondary-color: #006ba1;
$secondary-tint: #dde4ef;

$header-font: url('/assets/fonts/BoxedSemibold.otf');
$body-font: url('/assets/fonts/BoxedLight.otf');

.d-flex {
    display: flex;
}

