@font-face {
    font-family: 'BoxedSemibold';
    src: url('../fonts/BoxedSemibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BoxedSemibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BoxedSemibold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BoxedSemibold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BoxedSemibold.svg#BoxedSemibold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'BoxedLight';
    src: url('../fonts/BoxedLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BoxedLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BoxedLight.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BoxedLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BoxedLight.svg#BoxedLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

$header-font: BoxedSemibold, Arial, Helvetica, sans-serif;
$body-font: BoxedLight, Arial, Helvetica, sans-serif;

$header-size: 14pt;
$sub-header-size: 12pt;
$body-size: 10pt;

$primary-color: black;
$primary-tint: #f1f1f2;
$accent-color: #c59d09;
$secondary-color: #006ba1;
$secondary-tint: #dde4ef;

$primary-margin: 10pt;

html,body {
    height: 100%;
    margin: 0;
    font-family: $body-font;
    font-size: $body-size;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
}

input {
    height: 25pt;
    font-family: $body-font;
    font-size: $body-size;
    text-indent: 10pt;
    border: 1pt solid black;
    padding: 0 5pt 0 0;
    margin: 0 10pt;
}

li {
    list-style-type: none;
}

.d-flex {
    display: flex;
}

.r-flex {
    flex-direction: row;
    align-items: stretch;
    /* justify-content: center; */
}

.c-flex {
    flex-direction: column;
    align-items: center;
}

.flex-item {
    margin: $primary-margin;
}

.button {
    font-family: $header-font;
    font-size: $body-size;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: black;
    height: 25pt;
    width: 75pt;
}

    #filter-button {
        background-color: $secondary-color;
        font-size: $header-size;
        height: 35pt;
        width: 100pt;
        margin: 0 20pt 21pt;
        align-self: flex-end;
    }

    #add-button {
        background-color: $accent-color;
        margin: 0 20pt;
    }

.main-nav {
    width: 200pt;
    background-color: $primary-color;
}

    #nav-logo {
        background-image: url('../images/CM-Logo.svg');
        background-size: 125pt;
        background-position: center;
        background-repeat: no-repeat;
        width: 200pt;
        height: 150pt;
        margin: 0;
        padding: 0;
    }

    .main-nav a {
        color: white;
        font-size: $header-size;
    }

    .main-nav li {
        width: 175pt;
        height: 50pt;
        border-bottom: 1pt solid white;
        margin: 10pt 0 10pt 20pt;
        padding: 0 0 0 10pt;
        display: flex;
        align-items: center;
    }

    .main-nav li:last-child,
    #active-nav-pg,
    #nav-logo {
        border-bottom: none;    
    }

    #active-nav-pg {
        background-color: $accent-color;
    }

.content {
    flex: 1;
    padding: 0 20pt 20pt;
}

    .sub-nav {
        width: 100%;
        height: 75pt;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
    }
        
        .sub-nav .breadcrumb {
            font-size: 18pt;
            margin-left: 20pt;
        }
        
        .sub-nav .breadcrumb li {
            color: $accent-color;
            display: flex;
            align-items: center;
        }

        .sub-nav .breadcrumb li:not(:first-child):before {
            content: "/";
            margin: 0 15pt;
        }

            .sub-nav .breadcrumb li a {
                color: $accent-color;
            }
        
            #pg-name a {
                font-size: 25pt;
                font-family: $header-font;
                color: black;
                padding: 0 0 5pt 0;
            }

        #account-wrap {
            align-items: center;
        }
        
        #account-wrap i {
            font-size: 16pt;
        }

            #account-name {
                font-family: $header-font;
                font-size: $header-size;
                margin: 0 5pt 0 10pt;
            }

    #filter-wrap {
        width: 100%;
        height: 100pt;
        background: $secondary-tint;
        justify-content: space-between;
        align-items: center;
    }

        .filter-option {
            flex: 1;
            margin: 0 0 0 20pt;
            align-items: stretch;
            font-family: $header-font;
            font-size: $header-size;
        }

            .filter-label {
                margin: 0 10pt 10pt;
            }

            .filter-option input {
                margin: 0;
                height: 35pt;
            }

    #list-wrap {
        width: 100%;
        flex-grow: 1;
        background-color: $primary-tint;
        margin-bottom: 0;
    }

        #add-entry-wrap {
            background-color: white;
            height: 65pt;
            flex: 1;
            margin: 20pt;
            justify-content: space-between;
            align-items: center;
        }

        #add-entry-wrap input,
        #add-entry-wrap #client-display {
            flex: 1;
            margin: 0 0 0 20pt;
        }

        #add-entry-wrap #client-display {
            flex: 2;
        }