@font-face {
  font-family: "BoxedSemibold";
  src: url("../fonts/BoxedSemibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BoxedSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/BoxedSemibold.woff") format("woff"), url("../fonts/BoxedSemibold.ttf") format("truetype"), url("../fonts/BoxedSemibold.svg#BoxedSemibold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BoxedLight";
  src: url("../fonts/BoxedLight.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BoxedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BoxedLight.woff") format("woff"), url("../fonts/BoxedLight.ttf") format("truetype"), url("../fonts/BoxedLight.svg#BoxedLight") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: BoxedLight, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  height: 25pt;
  font-family: BoxedLight, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-indent: 10pt;
  border: 1pt solid black;
  padding: 0 5pt 0 0;
  margin: 0 10pt;
}

input:hover,
input:focus {
  transition: 500ms ease;
  outline: none;
  border: 1pt solid #c59d09;
}

li {
  list-style-type: none;
}

.d-flex {
  display: flex;
}

.r-flex {
  flex-direction: row;
  align-items: stretch;
  /* justify-content: center; */
}

.c-flex {
  flex-direction: column;
  align-items: center;
}

.flex-item {
  margin: 10pt;
}

.button {
  font-family: BoxedSemibold, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: black;
  height: 25pt;
  width: 75pt;
}

.list-column-value .button {
  width: 70%;
}

#filter-button {
  background-color: #006ba1;
  font-size: 14pt;
  height: 35pt;
  width: 100pt;
  margin: 0 20pt 21pt;
  align-self: flex-end;
}

#add-button {
  background-color: #c59d09;
  margin: 0 20pt;
}

.list-column-value .button.b-delete {
  margin: 0 0 0 10pt;
  width: 30%;
}

.button i {
  color: white;
}

.main-nav {
  width: 200pt;
  background-color: black;
}

#nav-logo {
  background-image: url("../images/CM-Logo.svg");
  background-size: 125pt;
  background-position: center;
  background-repeat: no-repeat;
  width: 200pt;
  height: 150pt;
  margin: 0;
  padding: 0;
}

.main-nav a {
  color: white;
  font-size: 14pt;
}

.main-nav li:not(#active-nav-pg) a:hover {
  transition: 500ms ease;
  color: #c59d09;
}

.main-nav li {
  width: 175pt;
  height: 50pt;
  border-bottom: 1pt solid white;
  margin: 10pt 0 10pt 20pt;
  padding: 0 0 0 10pt;
  display: flex;
  align-items: center;
}

.main-nav li:last-child,
#active-nav-pg,
#nav-logo {
  border-bottom: none;
}

#active-nav-pg {
  background-color: #c59d09;
}

.content {
  flex: 1;
  padding: 0 20pt 20pt;
}

.sub-nav {
  width: 100%;
  height: 75pt;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.sub-nav .breadcrumb {
  font-size: 18pt;
  margin-left: 20pt;
}

.sub-nav .breadcrumb li {
  color: #c59d09;
  display: flex;
  align-items: center;
}

.sub-nav .breadcrumb li:not(:first-child):before {
  content: "/";
  margin: 0 15pt;
}

.sub-nav .breadcrumb li a {
  color: #c59d09;
}

#pg-name a {
  font-size: 25pt;
  font-family: BoxedSemibold, Arial, Helvetica, sans-serif;
  color: black;
  padding: 0 0 5pt 0;
}

#account-wrap {
  align-items: center;
}

#account-wrap i {
  font-size: 16pt;
}

#account-name {
  font-family: BoxedSemibold, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin: 0 5pt 0 10pt;
}

#filter-wrap {
  width: 100%;
  height: 100pt;
  background: #dde4ef;
  justify-content: space-between;
  align-items: center;
}

.filter-option {
  flex: 1;
  margin: 0 0 0 20pt;
  align-items: stretch;
  font-family: BoxedSemibold, Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

.filter-label {
  margin: 0 10pt 10pt;
}

.filter-option input {
  margin: 0;
  height: 35pt;
}

#list-wrap {
  width: 100%;
  flex-grow: 1;
  background-color: #f1f1f2;
  margin-bottom: 0;
}

#add-entry-wrap,
#list-content {
  background-color: white;
  height: 65pt;
  margin: 20pt;
  width: calc(100% - 40pt);
  justify-content: space-between;
  align-items: center;
}

#add-entry-wrap input,
#add-entry-wrap #client-display {
  flex: 1;
  margin: 0 0 0 20pt;
}

#add-entry-wrap #client-display {
  flex: 2;
}

#list-content {
  flex-grow: 1;
  margin: 0 20pt 20pt;
  align-items: unset;
  justify-content: unset;
}

#list-headers {
  background-color: black;
  width: calc(100% - 40pt);
  min-height: 35pt;
  justify-content: space-between;
  align-items: center;
  padding: 0 20pt;
}

.list-column-head {
  color: white;
  font-family: BoxedSemibold, Arial, Helvetica, sans-serif;
  width: 10%;
}

.list-entry {
  width: calc(100% - 40pt);
  min-height: 35pt;
  justify-content: space-between;
  align-items: center;
  padding: 0 20pt;
}

.list-entry:not(:first-child) {
  border-top: 1pt solid #f1f1f2;
}

.list-column-value {
  width: 10%;
}

.flex-3 {
  width: 30%;
}

.flex-2 {
  width: 20%;
}

/*# sourceMappingURL=main.css.map */
